/* Styles Swiper Carousel */
.swiper {
  width: 100%;
}


.swiper-slide {
  /* height:250px; */
  text-align: center;
  font-size: 15px;
  /* background: rgb(24 24 27); */

  /* Center slide cards inside vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 70%;
  object-fit: cover;
}